target/
.vscode/
temp/
xd-macro/tests

Cargo.lock
deno.lock
**/*.rs.bk
*.pdb

*.png
*.jpeg
*.ico
*.svg


todo.md
.hintrc
compilation-time.txt
bindings.json
index.html
commit.ts
*.exe


# not ready
promised_result.ts
